.profile-img {
  width: 60px;
  height: 80px;
  border-radius: 10px;
}
.row-title {
  padding: 10px 22px 0;
  justify-content: space-between;
  align-items: center;
}
.text-title h5 {
  font-weight: bold;
}
.text-title Col {
  display: flex;
  justify-content: space-between;
}
.text-title small {
  font-size: 16px;
}

.text-title span {
  font-size: 18px;
  font-weight: bold;
  color: #134b8a;
}
.icon-rate {
  font-size: 12px;
  margin-top: -4px;
}

.row-productimg {
  padding: 16px;
  margin-left: auto;
  margin-right: 0px;
}
.product-img {
  width: 180px;
  height: 120px;
  top: 228px;
  border-radius: 10px 10px 10px 10px;
}

.profile-img-mobile {
  display: none;
}

@media screen and (max-width: 990px) {
  .profile-img {
    display: none;
  }
  .profile-img-mobile {
    display: flex;
    height: 87px;
    left: 9px;
    top: 205px;
    border-radius: 10px 10px 0px 0px;
  }
  .row-title {
    margin-right: 0px;
    padding: 0px;
  }

  .text-title h5 {
    font-weight: bold;
    font-size: 26px;
    padding: 0px;
    margin-left: 5px;
  }
  .text-title Col {
    display: flex;
    padding: 5px;
  }
  .text-title span {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 50px;
    background-color: #134b8a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 25px;
    margin-top: -65px;
    margin-bottom: auto;
  }
  .icon-rate {
    display: none;
  }
  .text-title small {
    font-size: 16px;
    margin-left: 5px;
  }
}
